<h2>Result</h2>
<hr>
<br>
<h4> You scored <%= @correct %> out of <%= @possible %>.</h4>
<h5> Maximum Score : <%= @total_possible_marks %></h5>
<br>
<br>
<h3><strong>Score : <%= @total_marks %></strong></h3>
<br>
<br>
<%= link_to "Try again?", exams_path, {class:"btn btn-primary",style:"background:#876546;border:1px solid #6c3e50;"} %> 